/*skin */
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
	background-color: #222;
  color: white;
}

/* structure */
body {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
	margin-bottom: 1rem;
}

hr {
  margin: 2rem;
}
